.my-site {
    font-weight: bold;
    font-size: 20px; 
}

.site-header {
    position: relative;
    background-color: var(--header-footer-color); 
}

.site-header__wrapper {
    padding-top: 1rem;
    padding-bottom: 1rem; 
    display: flex;
}

.header-link {
    transition: color 0.3s ease; 
    margin-right: 10px;
    color: #ccc; 
}

.header-link:hover {
    color: #fffb00; 
}

.header-link-component{
    margin-left: auto;
}