.ranking-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-row {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem; /* or whatever spacing you want */
}

.rank-select-button {
  background-color: #ddbb99;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 200px;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  padding: 20px 34px;
  transition: 0.3s;
  border-radius: 5px;
}

.ranking-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto;
    gap: 10px;
  }

  .ranking-panels {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto;
    gap: 10px;
  }
  
  .ranking-panel:first-child {
    grid-column: 1 / span 4;
  }
  
  .ranking-panel:nth-child(2) {
    grid-row: 2;
    grid-column: 1 / span 2;
  }
  
  .ranking-panel:nth-child(3) {
    grid-row: 2;
    grid-column: 3 / span 2;
  }
  
  h1 {
    font-size: 36px;
    margin-bottom: 30px;
    font-weight: bold;
  }
  
  .ranking-panel {
    display: flex;
    flex-direction: column;
    border: 1px solid #bbaa88;
    border-radius: 5px;
    background-color: #ddbb99;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    margin-bottom: 10px;
    padding: 15px;
}

.ranking-container > :nth-child(1) {
  background-color: #ffe761; 
}

.ranking-container > :nth-child(2),
.ranking-container > :nth-child(3) {
  background-color: #ffd99f; 
}

.ranking-header {
    font-size: 20px;
    font-weight: bold;
    color: #704214;
    border-bottom: 1px solid #704214;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.rank-text, .turns-text, .clear-time-text, .datetime-text {
    font-weight: bold;
    color: #704214;
}

.datetime-text {
  text-align: right;
  font-size: 10px;
}
