h1 {
    text-align: center;
  }
  
  .difficulty-selection {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
  }
  
  .difficulty-level {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .difficulty-button {
    border: none;
    color: #704214;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 200px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 20px 34px;
    transition: 0.3s;
    border-radius: 5px;
  }

  .difficulty-easy-button {
    background-color: #adffad;
  }
  
  .difficulty-easy-button:hover {
    background-color: #7fff7f;
  }

  .difficulty-normal-button {
    background-color: #a3d1ff;
  }
  
  .difficulty-normal-button:hover {
    background-color: #7fbfff;
  }

  .difficulty-hard-button {
    background-color: #ffb2b2;
  }
  
  .difficulty-hard-button:hover {
    background-color: #ff7f7f;
  }