@font-face {
  font-family: 'toroman';
  src: url('@/assets/fonts/toroman.ttf') format('truetype');
}

:root {
    --header-footer-color: #704214;
    --background-color: #f2e5d5;
    --side-color: #f2e5d5;
  }

body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color); 
}
