@font-face {
  font-family: 'toroman';
  src: url('@/assets/fonts/toroman.ttf') format('truetype');
}

:root {
    --header-footer-color: #DD0000;
  }

body {
    font-family: Arial, sans-serif;
}
