.moving {
  width: 100px;
  height: 100px;
  position: relative;
  display: inline-block;
  position: absolute;
}

.card {
    width: 100px;
    height: 100px;
    position: relative;
    display: inline-block;
    border-radius: 50px;
    font-size: 80px;
  
    cursor: pointer;
  }

  .card__face {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    transition: transform 0.6s;
    pointer-events: none;
    border-radius: 8px;
    border: solid 5px #B8860B;
  }
  
  .card__face--back {
    background-color: #FFFDD0;
  }
  
  .card__face--front {
    background-color: #FFFDD0;
    text-align:center;
    font-family: 'toroman';
    line-height:100px;
    transform: rotateY(180deg);
  }
  
  .card.is-flipped .card__face--back {
    transform: rotateY(180deg);
  }
  
  .card.is-flipped .card__face--front {
    transform: rotateY(0);
  }

  @keyframes matchedCardAnimation {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    25% {
      transform: scale(0.8);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
      opacity: 0;
    }
  }
  
  .matched-card {
    animation: matchedCardAnimation 1s ease-out forwards;
  }